body {
}

.ui-layout-container {
    background: url(#{resource['img/maldives.jpg']}) no-repeat center;
    background-size: cover;
}

.ui-layout-unit {
    background-color: transparent;
}

.ui-layout-unit-content {
    background-color: transparent;
}